# Logging Configuration
LOG_DIR=observability/app-logs
LOG_LEVEL=DEBUG

# Application Configuration
SLOW_REQUEST_THRESHOLD=1000
APP_HEALTH_URL=http://host.docker.internal:8000/health/

# Django
DEBUG=True
SECRET_KEY=
