# Elastic APM Configuration
ELASTIC_APM_SERVER_URL=http://localhost:8200
ELASTIC_APM_SERVICE_NAME=django-app
ELASTIC_APM_ENVIRONMENT=development
ELASTIC_APM_TRANSACTION_SAMPLE_RATE=1.0
ELASTIC_APM_SECRET_TOKEN=

# Logging Configuration
LOG_DIR=observability/app-logs
LOG_LEVEL=DEBUG

# Application Configuration
SLOW_REQUEST_THRESHOLD=1000
APP_HEALTH_URL=http://host.docker.internal:8000/health/
